extends base

block content
  p Hi #{firstName},
  p Please verify your account to be able to login
  table.btn.btn-primary(role='presentation' border='0' cellpadding='0' cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation' border='0' cellpadding='0' cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}` target='_blank') Verify your account
  p Good luck! ShopBE CEO.